.navbar {
  transition: all 0.5s;
}

:root{
    --primary: #3D0077;
    --lightblue: #D5F1FF;
    --gradient: #002CC9;
}


.gradient{
    color: #3D0077;
}

.courve{
    background: #f3f1f5;
    padding: 0 20px;
}

.girdcard{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.girdcard div:nth-child(5) {
    grid-column: 1 / 3;
}

.backdrop{
    width: 100%;
    background: linear-gradient(to right, #3D0077 50%, #002CC9);
}

.transi {
    transition: 1s ease;
  }
  

@media screen and (max-width: 768px) {
    .courve{
        background: #fff;
        padding: 0;
    }

    .girdcard div:nth-child(5) {
        grid-column: 1 / auto;
    }

}